.headCont {
  display: flex;
  flex-direction: row;
  padding-left: 10%;
  padding-right: 10%;
  align-items: center;
  padding-top: 1%;
}
.logo {
  margin-right: 8%;
}
.head-space {
  display: flex;
}

.flex {
  display: flex;
  width: 45%;
}

.center {
  align-items: center;
}
.drop-cont {
  padding-left: 3%;
}
.header {
  display: inline-block;
  width: 100%;
}
.a-color {
  text-decoration: none;
  color: black;
  font-size: 16px;
}
.nav-item {
  width: 130px;
}
.acc {
  width: 150px;
}
.font-header {
  font-size: 12px;
}
sup {
  font-size: 0.2em;
  font-weight: 600;
  color: #ffa700;
}
.weight {
  font-weight: 600;
  font-size: 15px;
}




.main {
  background-color: rgba(255, 255, 255, 0.244);
  padding-left: 14%;
  padding-right: 14%;
  font-family: Basis_Grotesque_Pro;
}
.heading{
    font-weight: 800;
    font-size: 24px;
}
.arrow{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
button{
    border-radius: 100px;
}
.btn-arrow{
    background-color: #ffffffbe;
}
.section1{
    display: flex;
    justify-content:space-between ;
    align-items: center;
}
.pictures-section1{
    display:flex;
    overflow: auto;
    white-space: nowrap;
    gap: 17px;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
       display: none;
    }
}
.grey-buttons button {
  border-radius: 18px;
  height:38px;
  width:max-content;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(226, 226, 231);
  box-shadow: rgba(2, 6, 12, 0.04);
  color: rgba(2, 6, 12, 0.75);
}
.grey-buttons button img{
  margin-left: 4px;
}
.grey-buttons{
  display: flex;
  gap: 8px;
}

.bmsmxn {
  display: grid;
  align-content: end;
  text-align: left;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 8px;
  height: calc(81px);
  background: linear-gradient(rgba(27, 30, 36, 0) 0%, rgb(27, 30, 36) 84.21%);
  
  
}
.gradient img{
  background: linear-gradient(rgba(27, 30, 36, 0) 0%, rgb(27, 30, 36) 84.21%);
  box-shadow: 10px 10px  solid black;
  
}
.app-div{
  display: flex;
  margin-top: 12px;
  margin-bottom: 18px;
}

.offers-home img{
  width: 425px;
}
.offers-app{
  gap: 14px;
}
.content-gap{
  gap:32px;
}




.products_container {
  display: grid;
  grid-template-columns: 23% 75%;
  grid-gap: 2%;
  width: 90%;
  margin: auto;
 margin-top: 160px;
}


/* .products_container_child{
  display: grid;
  grid-template-columns: repeat(4, 25%);
  
} */

.products_box {
  display: grid;
  grid-template-columns: repeat(3, 33%);
}
.catHead{
  padding-left: 20px;
  text-align: left;
  color: #282c3f;
  font-size: 26px;
  font-weight: 600;

}
.productCard {
  
  padding : 20px
}
.productCard:hover {
  border: 1px solid lightgray;
}

.rat{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
  color: #686b78;
}
.naCat{
  text-align: left;
}
.naCat h5{
  font-size: 18px;
  font-weight: 600;
  color: #282c3f;
  padding: 0;
  margin: 0;
}
.naCat p{
  color: #686b78;
  font-size: 14px;
  font-weight: 300;
}

.productCard img {
  width: 100%;
  height: 200px;
}
