.headCont {
  display: flex;
  flex-direction: row;
  padding-left: 10%;
  padding-right: 10%;
  align-items: center;
  padding-top: 1%;
}
.logo {
  margin-right: 8%;
}
.head-space {
  display: flex;
}

.flex {
  display: flex;
  width: 45%;
}

.center {
  align-items: center;
}
.drop-cont {
  padding-left: 3%;
}
.header {
  display: inline-block;
  width: 100%;
}
.a-color {
  text-decoration: none;
  color: black;
  font-size: 16px;
}
.nav-item {
  width: 130px;
}
.acc {
  width: 150px;
}
.font-header {
  font-size: 12px;
}
sup {
  font-size: 0.2em;
  font-weight: 600;
  color: #ffa700;
}
.weight {
  font-weight: 600;
  font-size: 15px;
}




.main {
  background-color: rgba(255, 255, 255, 0.244);
  padding-left: 14%;
  padding-right: 14%;
  font-family: Basis_Grotesque_Pro;
}
.heading{
    font-weight: 800;
    font-size: 24px;
}
.arrow{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
button{
    border-radius: 100px;
}
.btn-arrow{
    background-color: #ffffffbe;
}
.section1{
    display: flex;
    justify-content:space-between ;
    align-items: center;
}
.pictures-section1{
    display:flex;
    overflow: auto;
    white-space: nowrap;
    gap: 17px;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
       display: none;
    }
}
.grey-buttons button {
  border-radius: 18px;
  height:38px;
  width:max-content;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(226, 226, 231);
  box-shadow: rgba(2, 6, 12, 0.04);
  color: rgba(2, 6, 12, 0.75);
}
.grey-buttons button img{
  margin-left: 4px;
}
.grey-buttons{
  display: flex;
  gap: 8px;
}
.card img{
  background: linear-gradient(rgba(27, 30, 36, 0) 0%, rgb(27, 30, 36) 84.21%);
  
}
.bmsmxn {
  display: grid;
  align-content: end;
  text-align: left;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 8px;
  height: calc(81px);
  background: linear-gradient(rgba(27, 30, 36, 0) 0%, rgb(27, 30, 36) 84.21%);
}
